$textColor : #3f3f3f;
.paginate{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 150px 20px 150px;
    user-select: none;
    
    p{
        color: $textColor;
        font-weight: 500;
    }

    .next{
        cursor: pointer;
        display: flex;
        align-items: center;
        
        p{
            margin-right: 10px;
        }
        img{
            height: 10px;
            width: 10px;
        }
    }

    .previous{
        cursor: pointer;
        cursor: pointer;
        display: flex;
        align-items: center;
        
        p{
            margin-left: 10px;
        }
        img{
            height: 10px;
            width: 10px;
        }
    }

    .center{
        display: flex;
        align-items: center;

        .of{
            margin-right: 10px;
            margin-left: 10px;
        }

        span{
            padding: 3px 10px;
            border-radius: 3px;
            border: 2px solid $textColor;
        }
    }
}

@media screen and (max-width:1024px) {
    .paginate{
        padding: 20px 20px 20px 20px;
    }
    
}