$formPlusMainColor :#3EB9C9;
$background : #e8e8e8;

.loader{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        height: 30px;
        margin-bottom: 10px;
    }

    .line{
        height: 3px;
        width: 200px;
        background: $background;
        border-radius: 3px;
        
    }  
    
    .inner{
        width: 100%;
        height: inherit;
        background: $formPlusMainColor;
        animation: slide 2s ease-in-out infinite;
        border-radius: 3px;
    }

}

@keyframes slide{
  0%{
    transform-origin: left;
    transform: scalex(0.3);
  }
  //12.5%{
    //transform-origin: left;
    //transform: scalex(0.2);
  //}
  25%{
    transform-origin: left;
    transform: scalex(1);
  }
  26%{
    transform-origin: right;
    transform: scalex(1);
  }
  50%{
    transform-origin: right;
    transform: scalex(0.3);
  }
  //62.5%{
    //transform-origin: right;
    //transform: scalex(0.2);
  //}
  75%{
    transform-origin: right;
    transform: scalex(1);
  }
  76%{
    transform-origin: left;
    transform: scalex(1);
  }
  100%{
    transform-origin: left;
    transform: scalex(0.3);
  }
}